:markdown

  ## Responsibilities

  * Manage day-to-day maintenance and evolution of GitLab's Prometheus monitoring and alerting infrastructure
  * Bundle Prometheus as an out-of-the-box monitoring solution for GitLab CE/EE packages
  * Contribute to the [Prometheus open source project](https://github.com/prometheus)
  * Build and maintain a GitLab.com public monitoring gateway
  * Help migrate our current performance monitoring solution to Prometheus
  * Improve coverage of GitLab performance monitoring
  * Measure applications deployed with GitLab (e.g. Mattermost)
  * Create automated alerts to notify team members of regressions
  * Document answers and improve existing documentation
  * Write blog posts relevant to the community
