---
title: GitLab CoSales Kick Off
description: ""
layout: default
suppress_header: true
extra_css:
  - event.css
  - event-commit.css
  - simplify-devops.css
  - event-contribute.css
extra_js:
  - libs/on-scroll.js
  - in-page-nav.js
  - all-clickable.js
  - simplify-devops.js
---

= partial "/includes/events/sko/hero1"
.gitlab-content-container.commit-content-container
  .content.commit-content
    .js-in-page-nav-group{ role: "main", offset: 0, showhash: "true" }
      = partial "/includes/events/sko/main"

      .row.js-in-page-nav-section#tickets
        .container
          .u-margin-top-md
            %h2.u-text-brand Tickets
            %p You must book a ticket for this event. This is how we keep track of who is coming, when you are coming, leaving and all other details. Please try to register before Dec 15. You can edit your pass after registering up until Jan 31. At this point registration changes will be locked for planning purposes.
            %p We will be validating all registrations on the back end. All unapproved registrants will be canceled. Do not book if you are not approved to attend this event. 
            %h4 Ticket Types:
            %ul
              %li Sales - for all in the sales org
              %li Other - for Gitlabbers outside of the sales org
              %li Guest - for guest speakers

      .row.js-in-page-nav-section#travel
        .container
          .u-margin-top-md
            %h2.u-text-brand Travel
            %h4 Getting there
            %p More info to come
            %h4 Lodging
            %p We will book all lodging for the group. More info to come
            %h4 Visas
            %p More info to come
      .row.js-in-page-nav-section#expenses
        .container
          .u-margin-top-md
            %h2.u-text-brand Expenses
            %p Flights follow the normal expense rules for booking flights. This information can be found in the handbook.
            %p On travel days you can spend $75 on F&B when meals are not covered by the program.
            %p We will book airport transfers for you when you arrive at the airport.
            %p We will cover all lodging and F&B on site.

      .row.js-in-page-nav-section#preparation
        .container
          .u-margin-top-md
            %h2.u-text-brand Preparation
            %p We will have prework for everyone to do the week before the event. This will be shared in early January.

      .row.js-in-page-nav-section#schedule
        .container
          .u-margin-top-md
            %h2.u-text-brand Timeline
            %p Expect to arrive on the 11th. We will have a welcome reception for everyone attending on the evening of the 11th beginning at 6pm. Content ends at 4pm on the 12th, you can depart any time after that.

            %h4 Sample agenda
            %p <em>Details subject to change slightly</em>
            %h5 Feb. 9, 2021 
            %ul
              %li Peak arrival day & Welcome Reception
            %h5 Feb. 10, 2021 
            %ul
              %li SKO & Awards Cocktails & Dinner
            %h5 Feb. 11, 2021 
            %ul
              %li Role-based breakouts and team time
              %li Group dinner and reception
            %h5 Feb. 12, 2021
            %ul
              %li QBRs

      .row.js-in-page-nav-section#faq
        .container
          .u-margin-top-md
            %h2.u-text-brand FAQ
            %h4 What is the expected attire?
            %p Sessions are business casual and awards dinner is cocktail casual 

            %h4 I just got hired what do I do? how do I know if I should attend?
            %p All new hires after Oct 21 will have 2 weeks from their start date to register and book travel. This info will be included in all new hire welcome packets if they are expected to attend.

      -#.row.js-in-page-nav-section#contact
        .container
          .u-margin-top-md
            %h2.u-text-brand.text-center Contact
            %h4.text-center.u-margin-top-sm <a href="mailto:contribute@gitlab.com">contribute@gitlab.com</a>

%script{ src: "/javascripts/countdown.js", type: "text/javascript" }
%script{ src: "/javascripts/sko.js", type: "text/javascript" }